@charset "utf-8";
/* CSS Document */

p{font-family:'微软雅黑';font-size:18px;line-height:32px;}
div{border:#999 double;width:650px;}
h1 {font-family:'微软雅黑';color:red;}
h3{font-family:微软雅黑;color:gray;font-size:14px;font-weight:normal;}